@charset "UTF-8";

@font-face {
    font-family: banner;
    src: url(Fontes/Wrong\ Delivery.ttf);
}

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

:root{
    --font001: "Passion one", cursive;
}
/*
#8acb88 -> Verde mais claro
#CCC266 -> Amarelinho
#FF0A01 -> Vermelho
#CC2E29 -> Vermelho mais escuro

Teste
*/

body{
    height: 100vh;
    background-image: url(../imagens/fundo.png);
    background-size: 100% 100%;
    position: relative;
    
}

header{
    background-image: linear-gradient(to bottom, #FF0A01, #99221eef);
    height: 100px;
    margin: 0px 0px 20px 0px;
    padding: 9px;
    color: #CCC266;
}

header > h1{
    margin: 10px;
    padding: 5px;
    font-family: var(--font001);

}

nav  p{
    display: inline;
    margin: 3px;
    padding: 5px;
    color: #CCC266;
    
}

nav a{
    text-decoration: none;
    transition-duration: 0.5s;
}

nav p:active{
    background-color: #CCC266;
    border-radius: 3px;
    color: black;
}

nav p:hover{
    background-color: #CCC266;
    border-radius: 3px;
    color: black;
    
}

main{
    padding: 5px;
    margin: 10px auto;
    width: 95%;
}

article{
    border: 2px solid black;
    border-radius: 9px;
    margin: 19px;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.616);
    color: #CCC266;
}

article > p{
    padding: 2px 0px 7px 2px;
    margin: 0%;
}

article:hover{
    border: 1px solid #CCC266;
    padding: 2.8% 2.8% 3% 2.8%;
    margin-bottom: 50px;
    background-image: url(../imagens/lanche.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

footer{
    background-color: black;
    color: #CCC266;
    text-align: center;
    margin: 0%;
}

footer  a{
    text-decoration: none;
    color: orange;
    margin: 0%;
}
