@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: wheat;
}

#perfil{
    padding: 10px;
    width: 150px;
    border-radius: 50%;
    display: inline;
}

.container{
    display: flex;
}

.autobiografia{
    margin: 5%;
    text-align: justify;
    text-indent: 20px;
    line-height: 22px;
    
}

#contacts{
    
}
    
.icones{
    width: 30px;
    border-radius: 50%;
}

header{
    background-color: black;
    color: white;
    padding: 50px 0px 10px 10px;
    height: 90px;
    text-align: center;

}

main{
    background-color: white;
    margin: 0px 30px 10px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
}

main li{
    padding-top: 5px;
    padding-left: 10px;
}

#m0{
    padding-top: 15px;
}

#m1{
    padding-bottom: 15px;
}
